<% layout("layouts/boilerplate") %>

<body>

<section class="hero-section">
    <div class="hero-text">
        <h1>InvestoHub</h1>
    <div class="intro">
        <p>Most people earn money but never learn what to do with it.
        InvestoHub guides you from saving safely to investing confidently, 
        with learning and real-world simulations.</p>
    </div>
    </div>

    <div class="right-side">
    <div class="logo">
        <img src="/images/Investohub.png" alt="InvestoHub Illustration" class="img-fluid">
    </div>
    <div class="quote">
        <h3 class="text-muted fst-italic mt-3">
            " Clarity is the first return on investment."
        </h3>
    </div>
    </div>

</section>

<section class="journey-section">

    <div class="journey-item right">
        <div class="dot"></div>
        <a href="/learn/budget" class="card">
            <h5>Expenses & Discipline</h5>
            <p>Learn how income turns into expenses, and expenses into choices.
This section helps you understand cash flow, budgeting basics, and why control matters before investing.</p>
        </a>
    </div>

    <div class="journey-item left">
        <div class="dot"></div>
        <a  href="/learn/fds" class="card">
            <h5>Safe Savings</h5>
            <p>Explore Fixed Deposits Schemes.
Understand returns, lock-in, liquidity, and how safe instruments protect your capital before growth.</p>
        </a>
    </div>

    <div class="journey-item right">
        <div class="dot"></div>
        <a  href="/learn/mfs" class="card">
            <h5>Mutual Funds</h5>
            <p>Learn how SIPs, NAVs, and compounding work together.
This section introduces fund types, risk levels, and long-term wealth building through mutual funds.</p>
        </a>
    </div>

    <div class="journey-item left">
        <div class="dot"></div>
        <a  href="/learn/markets" class="card">
            <h5>Stock Market</h5>
            <p>Understand how markets move using fundamental and technical analysis.
Explore IPOs, stock investing, and apply your learning in a real-time market simulation with virtual money.</p>
        </a>
    </div>
</section>



</body>
