body {
    font-family: "Segoe UI", sans-serif;
    margin: 0;
}

.hero-section {
    height: 100vh;
    width: 100%;
    background: linear-gradient(
        49deg,
        rgba(87, 84, 84, 0.47) 0%,
        rgba(230, 230, 230, 1) 50%,
        rgba(245, 245, 245, 1) 100%
    );

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem;
}

.hero-text {
    max-width: 45%;
}

.hero-text h1 {
    font-size: 5rem;
}

.intro {
    margin-top: 1.5rem;
    font-size: 1.1rem;
    font-style: oblique;
    color: #333;
}

.right-side {
    display: flex;
    flex-direction: column;      
    align-items: center;         
    justify-content: center;

    width: 45%;
    margin-left: auto;          
}

.logo img {
    max-width: 400px;
    opacity: 0.95;
}

.quote h3 {
    text-align: center;
}

/* second half */

.journey-section {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    padding: 5rem 0;
}

/* Center vertical line */
.journey-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
     background-color: #ccc; /*#d1d1d1 */
}

.journey-item {
    position: relative;
    display: flex;
    width: 100%;
    margin: 4rem 0;
}

.dot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    background: #fff;
    border: 2px solid #444;
    border-radius: 50%;
    z-index: 2;
}

.journey-item.left::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    width: 80px;
    height: 2px;
    background: #ccc;
}

.journey-item.right::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 2px;
    background: #ccc;
}


/* Right side cards */
.journey-item.right {
    justify-content: flex-end;
    padding-left: 55%;
}

/* Left side cards */
.journey-item.left {
    justify-content: flex-start;
    padding-right: 55%;
}

.card {
    width: 400px;
    padding: 1.5rem;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.card-hover {
    transform: rotateY(-4px);
    transition: 0.3s ease;
}

.journey-item::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 3px solid #5e5b5b;
    z-index: 2;
}


.footer {
    background-color: rgba(64, 63, 63, 0.47) ;
    font-weight: 200;
    font-style: oblique;
}

.navbar {
    background-color: rgba(64, 63, 63, 0.47) ;
    font-weight: 700;
    font-style: normal;
}
.nav-item {
    margin: 2px;
}
.navbar-brand {
    padding-left: 1rem;
}
/* .navbar img {
    margin-left: 0.5rem;
    height: 50px;
    width: 70px;
    border-radius: 10%;
} */
